body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header img {
    width: 140px
    
}

.content {
    text-align: center;
    margin-top: 50px;
}

.content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.buttons {
    text-align: right;
    margin-top: -288px;
}

.buttons a {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 0.8em;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
